* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
}

.main-photo {
  display: flex;
  justify-content: center;
}

img {
  opacity: 0.4;
}

.main-photo .content {
  position: absolute;
  left: 43%;
  bottom: 61.5%;
  background: rgb(0, 0, 0);
  background: rgb(0, 0, 0, 0.5);
  color: #f1f1f1;
  padding: 20px;
}

ul {
  list-style-type: none;
}

fieldset {
  margin: 30px auto;
  border: 5px solid burlywood;
  width: 600px;
}

a:link {
  color: black;
  text-decoration: none;
  padding: 15px;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
  border: 3px solid black;
  background: whitesmoke;
  text-decoration: none;
}

.main-page {
  text-align: center;
}
