.header {
  text-align: center;
  font-weight: bolder;
  font-family: Tahoma, sans-serif;
}
body {
  font-family: sans-serif;
}
.container {
  background: linear-gradient(45deg, cornsilk, ivory, cornsilk);
  margin: 40px auto;
  max-width: 800px;
  padding: 20px 31px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.image {
  text-align: center;
}
