@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");

body {
  margin: 40px;
  font-family: "Poppins";
  background: #d1dedd;
}
ul,
li {
  padding: 8px;
  color: #828b8a;
}

h1,
h2 {
  color: #767f7e;
}
p {
  color: #828b8a;
}

a {
  text-decoration: none;
  color: #828b8a;
}

a:hover {
  text-decoration: none;
  text-decoration-color: rgb(9, 107, 140);
  font-size: 15px;
  color: #328987;
}

header {
  margin: 40px auto;
  border-bottom: 1px solid #bbc7c7;
  max-width: 1200px;
}

img {
  width: 450px;
  height: 300px;
  border: 4px solid #fff;
  border-radius: 8px;
}

/* #cg1 {
  margin: 40px auto;
  border-bottom: 1px solid #bbc7c7;
} */

.img-4 {
  width: 450px;
  height: 320px;
}

.img-5 {
  width: 400px;
  height: 500px;
}

a {
  text-decoration: none;
  color: #fff;
}

#bottom {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #80aba6;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  width: fit-content;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  max-width: 1200px;
  gap: 60px;
  margin: 20px auto;
}

.grid-container2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  max-width: 1200px;
  gap: 60px;
  margin: 20px auto;
}

.grid-container > div:nth-child(3) {
  grid-column: 1 / span 2;
}

.grid-container > div:nth-child(4) {
  align-self: center;
}

/* Responsive Style */
@media screen and (max-width: 760px) {
  .grid-container {
    display: flex;
    flex-direction: column;
  }

  img {
    width: 100%;
    height: auto;
  }

  h1,
  h2 {
    text-align: center;
  }

  .right {
    margin: 0;
  }
}
