<!DOCTYPE html>
<html>
  <head>
    <title>Indomie Chicken & Veggie Stir Fry</title>
  </head>
  <body>
    <h1>Noodles!</h1>
    <h2>Indomie Chicken & Veggie Stir Fry</h2>
    <img
      src="../assets/indomie-chicken-veggie-stir-fry_detail2_215552305.png"
      style="width: 362px; height: 312px"
    />
    <h2>Ingredients:</h2>
    <ul>
      <li>1 Pack of Indomie Mi Goreng Barbeque Chicken</li>
      <li>Boneless chicken thighs - thinly sliced</li>
      <li>Bok Choy</li>
      <li>Green beans - sliced</li>
      <li>Spring onions - sliced diagonally</li>
      <li>Onion - diced</li>
      <li>1/4 small red chilli - finely sliced</li>
      <li>Crushed ginger</li>
      <li>Crushed garlic</li>
      <li>Hoisin sauce</li>
      <li>Sweet chilli sauce</li>
      <li>Soy sauce</li>
      <li>Cashew nuts</li>
    </ul>
    <img
      src="../assets/indomie-chicken-veggie-stir-fry_detail1_022044144.png"
      style="width: 362px; height: 312px"
    />
    <h2>Preparation time: 30 minutes</h2>
    <h2>Cooking Instructions:</h2>
    <ol>
      <li>Cook Indomie Noodles according to packet directions.</li>
      <li>
        Stir fry the bok choy, onion, spring onions and green beans together
        until almost tender, remove from pan.
      </li>
      <li>
        Place chicken into frying pan with garlic, chilli, ginger, hoisin sauce,
        soy sauce and sweet chilli sauce. Stir fry until chicken is cooked
        almost through.
      </li>
      <li>
        Add noodles, and other retained vegetables. Combine all ingredients in
        frying pan and stirfry until chicken is cooked through.
      </li>
      <li>Add cashew nuts and serve.</li>
    </ol>
    <a href="../index.html">Back to Main Page</a>
  </body>
</html>
