<!DOCTYPE html>
<html>
  <head>
    <title>Indomie Cold Noodle</title>
  </head>
  <body>
    <h1>Noodles!</h1>
    <h2>Indomie Cold Noodle</h2>
    <img
      src="../assets/indomie-cold-noodle_detail2_163429134.png"
      style="width: 362px; height: 312px"
    />
    <h2>Ingredients:</h2>
    <ul>
      <li>Soto Mie</li>
      <li>Ice cubes</li>
      <li>Chicken breast</li>
      <li>Egg</li>
      <li>Cucumber</li>
      <li>Carrots</li>
      <li>Green onion</li>
    </ul>
    <img
      src="../assets/indomie-cold-noodle_detail1_163429134.png"
      style="width: 362px; height: 312px"
    />
    <h2>Preparation time: 30 minutes</h2>
    <h2>Cooking Instructions:</h2>
    <ol>
      <li>
        Cook Soto Mie noodles in hot boil water and rinse it off with cold
        water.
      </li>
      <li>
        Boil water that is less than the usual amount you cook for Soto Mie
        (approx. 1/2 with its seasonings).
      </li>
      <li>
        Add cold water and ice with cooked noodles into the boiled water with
        Soto Mie sauce. You can also add soy sauce and sesame oil according to
        your taste.
      </li>
      <li>
        Garnish with chicken breast, egg, cucumber, carrots, and chopped green
        onion.
      </li>
    </ol>
    <a href="../index.html">Back to Main Page</a>
  </body>
</html>
