<!DOCTYPE html>
<html>
  <head>
    <title>Indomie Soup with Milk and Cheese</title>
  </head>
  <body>
    <h1>Noodles!</h1>
    <h2>Indomie Soup with Milk and Cheese</h2>
    <img
      src="../assets/indomie-soup-with-milk-and-cheese_detail2_094338350.png"
      style="width: 362px; height: 348px"
    />
    <h2>Ingredients:</h2>
    <ul>
      <li>1 pack of Indomie Special Chicken Flavor</li>
      <li>1 Egg</li>
      <li>1 tbsp cooking oil</li>
      <li>1/4 onion (chopped)</li>
      <li>5 pieces of Shrimp</li>
      <li>250 ml Fresh Milk</li>
      <li>1 Red Chili Pepper</li>
      <li>2 tbsp of Cheddar Cheese (grated)</li>
      <li>2 tbsp Leek (sliced)</li>
      <li>1 tbsp Chili Powder</li>
      <li>1 pack of Dried Seaweed</li>
    </ul>
    <img
      src="../assets/indomie-soup-with-milk-and-cheese_detail1_094338350.png"
      style="width: 362px; height: 312px"
    />
    <h2>Preparation time: 30 minutes</h2>
    <h2>Cooking Instructions:</h2>
    <ol>
      <li>
        Put Indomie Special Chicken Flavor in boiling water for 3 minutes
        without adding the seasoning. Lift, drain.
      </li>
      <li>Boil eggs. Drain.</li>
      <li>
        In another pan, heat the cooking oil, sauté onion until fragrant. Add
        shrimp, stir-fry until the color changes. Lift the shrimp, set aside.
      </li>
      <li>
        Pour the stir-fried onion with fresh milk, add the cayenne. Cook until
        it starts to boil. Add Indomie that has been boiled. Mix.
      </li>
      <li>Turn off the heat. Add Indomie seasonings, stir quickly.</li>
      <li>
        Pour into a serving bowl. Add grated cheese, sprinkle with sliced fried
        onion, chili powder and dried seaweed.
      </li>
      <li>Ready to serve.</li>
    </ol>
    <a href="../index.html">Back to Main Page</a>
  </body>
</html>
