<!DOCTYPE html>
<html>
  <head>
    <title>Indomie with Rica Chicken</title>
  </head>
  <body>
    <h1>Noodles!</h1>
    <h2>Indomie with Rica Chicken</h2>
    <img
      src="../assets/indomie-with-rica-chicken_detail2_094103582.png"
      style="width: 362px; height: 348px"
    />
    <h2>Ingredients:</h2>
    <ul>
      <li>3 packs of Indomie Mi Goreng</li>
      <li>2 tbsp Cooking Oil</li>
      <li>3 Cloves Garlic (chopped)</li>
      <li>1/2 Onion (chopped)</li>
      <li>250 gr of Chicken Fillet (cut into small pieces)</li>
      <li>1 tsp Oyster Sauce</li>
      <li>1 tbsp Chili Sauce</li>
      <li>5 Red Cayenne Pepper (chopped)</li>
      <li>1/2 tsp Salt</li>
      <li>1 tsp Sugar</li>
      <li>150 ml of Water</li>
      <li>1 Leek (sliced)</li>
    </ul>
    <img
      src="../assets/indomie-with-rica-chicken_detail1_094103582.png"
      style="width: 362px; height: 312px"
    />
    <h2>Preparation time: 30 minutes</h2>
    <h2>Cooking Instructions:</h2>
    <ol>
      <li>
        Rica Topping: Heat the Cooking Oil, sauté garlic until fragrant. Add
        onions, sauté until fragrant. Add chicken diced, stir until the color
        changes. Add all the remaining ingredients, except water. Stir well.
        Pour water, cook until boil, then cook until the sauce reduced.
      </li>
      <li>Boil Indomie Mi Goreng in boiling water. Lift, drain.</li>
      <li>
        Mix the noodles with oil, soy sauce, and chili sauce. Stir until mixed,
        place it in a serving bowl. Top with rica chicken, sprinkle with fried
        onions from Indomie seasonings.
      </li>
      <li>Ready to serve.</li>
    </ol>
    <a href="../index.html">Back to Main Page</a>
  </body>
</html>
